.stage_image {
    height: ;
  }
  
  .container2 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
  }
  
  .txt-nxt-pic {
    display: grid;
    padding: 2rem;
    grid-template-columns: 100px 1fr;
    gap: 4rem;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    font: 500 100%/1.5 system-ui;
  }
  
  .txt-nxt-pic img {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
    box-shadow: 0 5px 15px #4b4f54;
    transition: all 0.2s ease-in-out;
  }
  
  .txt-nxt-pic img:hover {
    box-shadow: 0 5px 15px #ecaa00;
    transform: scale(1.05);
    filter: saturate(1.5);
  }
  
  .txt-nxt-pic p {
    font-style: italic;
    font-size: small;
    
  }
  
  .txt-nxt-pic p {
    font-style: italic;
    font-size: small;
  }